[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
python-dotenv = "*"

[packages]
logme = "*"
swagger-client = {editable = true,git = "https://github.com/sladkovm/strava-swagger-client.git"}

[requires]
python_version = "3.7"
